<section class="breadcrumb-wrapper">
    <div class="breadcrumb">
      <a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="scrollToTop()">Dashboard</a> &gt;
      <a>Marketing</a> &gt;
      <a>Ads</a> &gt;
      <span>manage ads </span>
    </div>
</section>

<section class="async-background">
    <h2>Manage Ads</h2>

    <section class="async-container">
        <div class="title">
            <h3>Ads Campaign Summary</h3>
            <div class="action-area">
                <a mat-list-item routerLink="../new" routerLinkActive="active" (click)="scrollToTop()" title="Create Campaign" mat-raised-button><mat-icon>ads_click</mat-icon>New Ads</a>
            </div>
        </div>

        <ng-container *ngIf="!isEmptyRecord">
            <div class="search">
                <mat-form-field appearance="outline">
                    <mat-label>Filter by ads name or status</mat-label>
                    <input matInput type="search" name="campaignFilter" [(ngModel)]="filterText" (ngModelChange)="applyFilter($event)">
                </mat-form-field>
            </div>
    
            <div class="table">
    
    
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
                    <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->
                  
                    <ng-container matColumnDef="id">
                      <th mat-header-cell *matHeaderCellDef> Channel </th>
                      <td mat-cell *matCellDef="let element"> {{element.campaignName}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="status">
                      <th mat-header-cell *matHeaderCellDef> Status </th>
                      <td mat-cell *matCellDef="let element"> {{element.deliveryStatus}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="budget">
                      <th mat-header-cell *matHeaderCellDef> Budget </th>
                      <td mat-cell *matCellDef="let element"> {{element.budget.budgetAmount | currency:'₦':'symbol':'1.0-0'}} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="campaignDates">
                      <th mat-header-cell *matHeaderCellDef> Ads Dates </th>
                      <td mat-cell *matCellDef="let element"> 
                        {{ element.adDuration.campaignEndDate ? (element.adDuration.campaignStartDate | date) + ' - ' + (element.adDuration.campaignEndDate | date) : 'No end date' }}  
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="duration">
                      <th mat-header-cell *matHeaderCellDef> Duration </th>
                      <td mat-cell *matCellDef="let element"> {{ getDateAgo(element) }}  </td>
                    </ng-container>

                    <ng-container matColumnDef="expiration">
                      <th mat-header-cell *matHeaderCellDef> Expiration </th>
                      <td mat-cell *matCellDef="let element"> {{ getExpirationTime(element) }} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="progression">
                        <th mat-header-cell *matHeaderCellDef> Progression (%) </th>
                        <td mat-cell *matCellDef="let element"> {{ getProgression(element) | number: '1.0-2' }}% </td>
                    </ng-container>
    
                    <ng-container matColumnDef="results">
                        <th mat-header-cell *matHeaderCellDef> Leads </th>
                        <td mat-cell *matCellDef="let element"> {{element.leads}}   </td>
                    </ng-container>

                    <ng-container matColumnDef="publishDate">
                        <th mat-header-cell *matHeaderCellDef> Publish Date </th>
                        <td mat-cell *matCellDef="let element"> {{element.createdAt | date}} </td>
                      </ng-container>
    
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Action </th>
                        <td mat-cell *matCellDef="let element" style="cursor: pointer;"> 
                            <!-- <mat-icon title="Download">download</mat-icon> -->
                            <mat-icon title="View" (click)="preview(element._id)">read_more</mat-icon>
                        </td>
                    </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" 
                        [ngClass]="{
                        'inactive': row.deliveryStatus === 'Inactive',
                        'active': row.deliveryStatus === 'Active',
                        }">
                    </tr>
                </table>
    
                <mat-paginator [pageSizeOptions]="[10, 20, 30, 60, 100]" showFirstLastButtons></mat-paginator>

            </div>
        </ng-container>
        <ng-container *ngIf="isEmptyRecord">
            <p class="no-campaign">No campaign available yet</p>
        </ng-container>
    </section>


</section>