.head {
    background: #050111;
    //background: #00838F;
    article {
      color: white;
      padding: 2em 1em 2em 8em;
      h2 {
        font-family: Garamond, serif;
        font-size: 2em;
      }
      h3 {
        font-family: Georgia, serif;
        font-size: 1em;
      }
      p {
        text-align: justify;
        font-family: 'Courier New', monospace;
        font-size: 14px;
        line-height: 1.5em;
      }
      a {
        color: white;
        text-decoration: underline;
        font-weight: bold;
      }
    }
}
  
.body {
    display: flex;
    flex-direction: row;
    //justify-content: center;
    //text-align: center;
  
    .writeup {
        padding: 2em;
        flex: 4;
        h3 {
            color: #ffab40;
        }
        p {
            text-align: justify;
            /* font-family: 'Courier New', monospace; */
            font-size: 14px;
            line-height: 1.5em;
        }
        .next-view {
            margin-top: 2em;
            text-align: right;
            button {
            width: 20%;
            margin-left: 1em;
            }
        }

        .video-gallery {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            gap: 20px;
            .video-item {
                position: relative;
                overflow: hidden;
                border-radius: 8px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                cursor: pointer;
                .play-overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, 0.7);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    //opacity: 0;
                    transition: opacity 0.3s;
                    .play-button {
                        font-size: 40px;
                        color: #fff;
                    }
                }
                &:hover .play-overlay {
                    opacity: 0.5;
                }
                .thumbnail {
                    width: 100%;
                    height: 320px;
                }
                .video-details {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    background: rgba(0, 0, 0, 0.7);
                    color: #fff;
                    z-index: 1;
                    h3 {
                      padding-left: 1em;
                      font-size: 1em;
                      padding-top: 1em;
                    }
                    .subtitle {
                        font-weight: bold;
                        margin-bottom: 5px;
                        padding: 0 1em;
                        font-family: 'Courier New', monospace;
                    }  
                    .description {
                        font-size: 12px;
                        margin-bottom: 0;
                        padding: 0 2em 0 1em;
                        font-family: 'Courier New', monospace;
                    }
                }
                  
            }
        }    
    }

    .side-menu {
        padding: 1rem; /* Padding for content */
        margin: 1em 1rem 1rem 0; /* Space below the menu */
        border-radius: 5px; /* Rounded corners */
    
        border: 1px solid #ddd;
        //background-image: linear-gradient(to bottom, #f5f5f5, #eee);
    
        flex: 1;
        h3 {
            margin-top: 0; /* Remove top margin */
            margin-bottom: 0.5rem; /* Small margin below heading */
        }
        ul {
            list-style: none; /* Remove default bullet points */
            padding: 0; /* Reset padding */
            li {
                margin-bottom: 0.5rem; /* Space between links */
                a {
                    text-decoration: none; /* Remove underline from links */
                    cursor: pointer;
    
                    padding: 0.75rem 1rem; /* Add some padding for comfortable clicks */
                    display: block; /* Make links take full width of the list item */
                }
                /* a:hover {
                    color: #ffab40; 
                    background-color: #f0f0f0; 
                }
                a.active {
                    color: #fff; 
                    background-color: #ffab40; 
                } */
            }
        }
    }
 
}


  
  
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
  .head {
      article {
        width: 100%;
        padding: 1em;
        h2 {
          font-size: 1.4em;
        }
        h3 {
          font-size: 1em;
        }
        p {
          width: 90%;
        }
      }
  }
  
  .body {
    display: flex;
    flex-direction: column;
    .writeup {
        order: 2;
        margin: 0.5em;
        padding: 1em;
      h3 {
          padding-left: 1em;
      }
      .video-gallery {
        .video-details {
          h2 {
            font-size: 10px;
          }
        }
      }
    } 
    .side-menu {
        order: 1;
        margin: 0.5em;
    }
   }
  }
  
  /* iPads/tablet (portrait and landscape) */
  @media only screen and (min-device-width: 601px) and (max-device-width: 1024px) {
    .body {
        display: flex;
        flex-direction: column;
      .writeup {
        order: 2;        
      }
      .side-menu {
        order: 1;
        margin: 0 0.5em;
      }
    }
    
  }



