  <mat-stepper orientation="vertical" #stepper>



    <mat-step [stepControl]="targetAudienceFormGroup">
      <form [formGroup]="targetAudienceFormGroup">
        <ng-template matStepLabel>Target Audience</ng-template>

        <div class="form">
            <mat-form-field appearance="outline">
                <mat-label>Age range</mat-label>
                <mat-select required formControlName="ageRangeTarget">
                  <mat-option value="All">All</mat-option>
                  <mat-option value="18-24">18-24</mat-option>
                  <mat-option value="25-34">25-34</mat-option>
                  <mat-option value="35-44"> 35-44</mat-option>
                  <mat-option value="45-54">45-54</mat-option>
                  <mat-option value="55-64">55-64</mat-option>
                  <mat-option value="65+">65+</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Gender</mat-label>
                <mat-select required formControlName="genderTarget">
                  <mat-option value="All">All</mat-option>
                  <mat-option value="Men">Men</mat-option>
                  <mat-option value="Women">Women</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Interests</mat-label>
                <mat-select required formControlName="interestsTarget">
                  <mat-option value="All">All</mat-option>
                  <mat-option value="Technology">Technology</mat-option>
                  <mat-option value="Fashion">Fashion</mat-option>
                  <mat-option value="Sports">Sports</mat-option>
                  <mat-option value="Travel">Travel</mat-option>
                  <mat-option value="Food & Drink">Food & Drink</mat-option>
                  <mat-option value="Entertainment">Entertainment</mat-option>
                  <mat-option value="Health & Fitness">Health & Fitness</mat-option>
                  <mat-option value="Business">Business</mat-option>
                  <mat-option value="Education">Education</mat-option>
                  <mat-option value="Gamers">Gamers</mat-option>
                  <mat-option value="Religion">Religion</mat-option>
                </mat-select>
            </mat-form-field>
    
        </div>

        <button mat-button matStepperNext>Next</button>
      </form>
    </mat-step>

    <mat-step [stepControl]="marketingObjectivesFormGroup">
      <form [formGroup]="marketingObjectivesFormGroup">
        <ng-template matStepLabel>Marketing Objectives</ng-template>
        
        <div class="form">
            <mat-form-field appearance="outline">
                <mat-label>Primary Objective</mat-label>
                <mat-select required formControlName="adObjective">
                  <mat-option value="Brand awareness">Brand awareness</mat-option>
                  <mat-option value="Lead generation">Lead generation</mat-option>
                  <mat-option value="Traffic">Traffic</mat-option>
                  <mat-option value="Sales">Sales</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="budgetFormGroup">
        <form [formGroup]="budgetFormGroup">
          <ng-template matStepLabel>Budget</ng-template>

          <div class="form">
            <mat-form-field appearance="outline">
                <mat-label>Budget Type</mat-label>
                <mat-select required formControlName="budgetType">
                  <mat-option value="Daily budget">Daily budget</mat-option>
                  <mat-option value="Lifetime budget">Lifetime budget</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Budget Amount</mat-label>
              <input matInput type="number" required formControlName="budgetAmount"/>
              <mat-hint>Minimum amount: ₦2,000</mat-hint>
              <span matTextPrefix>₦</span>
              <span matTextSuffix>.00</span>
            </mat-form-field>

        </div>

          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
    </mat-step>

    <mat-step [stepControl]="adDurationFormGroup">
    <form [formGroup]="adDurationFormGroup">
        <ng-template matStepLabel>Ad Duration</ng-template>

        <div class="form">
          <mat-form-field appearance="outline">
            <mat-label>Ads Start Date</mat-label>
            <input matInput [matDatepicker]="campaignStartDatePicker" formControlName="campaignStartDate" [min]="minDate" required>
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="campaignStartDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #campaignStartDatePicker></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Ads End Date</mat-label>
            <input matInput [matDatepicker]="campaignEndDatePicker" formControlName="campaignEndDate" [min]="minDate" required>
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="campaignEndDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #campaignEndDatePicker></mat-datepicker>
          </mat-form-field>
          
          <mat-checkbox class="no-end-date" formControlName="noEndDate" (change)="onNoEndDateChange($event)">No End Date</mat-checkbox>
  
        </div>

        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
    </form>
    </mat-step>

    <mat-step [stepControl]="adFormatFormGroup">
        <form [formGroup]="adFormatFormGroup">
          <ng-template matStepLabel>Ad Format</ng-template>
          
          <div class="form">
            <mat-form-field appearance="outline">
                <mat-label>Primary Ad Format</mat-label>
                <mat-select required formControlName="adFormat">
                  <mat-option value="TrueView Ads">TrueView Ads</mat-option>
                  <mat-option value="Bumper Ads">Bumper Ads</mat-option>
                  <mat-option value="Non-Skippable In-Stream Ads">Non-Skippable In-Stream Ads</mat-option>
                  <mat-option value="Overlay Ads">Overlay Ads</mat-option>
                  <mat-option value="Sponsored Cards">Sponsored Cards</mat-option>
                  <mat-option value="Masthead Ads">Masthead Ads</mat-option>
                  <mat-option value="YouTube Select">YouTube Select</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Device Targeting</mat-label>
              <mat-select required formControlName="deviceType">
                <mat-option value="All devices">All devices</mat-option>
                <mat-option value="Mobile only">Mobile only</mat-option>
                <mat-option value="Desktop only">Desktop only</mat-option>
                <mat-option value="Connected TV">Connected TV</mat-option>
              </mat-select>
          </mat-form-field>

          </div>

          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done. But before publishing here are your summary</p>
      <p>Landing page URL: <a href="http://marketspase.com/{{partner.username | lowercase}}" target="_blank">www.marketspase.com/{{partner.username | lowercase}}</a></p>

      <div class="summary">

        <div class="summary-target-audience">
          <details open>
            <summary>Target Audience Summary</summary>
            <p>Target Age Range: {{ targetAudienceFormGroup.get('ageRangeTarget')?.value }}</p>
            <p>Target Gender: {{ targetAudienceFormGroup.get('genderTarget')?.value }}</p>
            <p>Target Interest: {{ targetAudienceFormGroup.get('interestsTarget')?.value }}</p>
          </details>
        </div>

        <div class="summary-marketing-objective">
          <details open>
            <summary>Marketing Objective Summary</summary>
            <p>Marketing Primary Objective: {{ marketingObjectivesFormGroup.get('adObjective')?.value }}</p>
          </details>
        </div>

        <div class="summary-marketing-budget">
          <details open>
            <summary>Marketing Budget Summary</summary>
            <p>Budget Type: {{ budgetFormGroup.get('budgetType')?.value }}</p>
            <p>Budget Amount: {{ budgetFormGroup.get('budgetAmount')?.value | currency:'₦':'symbol':'1.0-0' }}</p>
            
          </details>
        </div>

        <div class="summary-ad-duration">
          <details open>
            <summary>Ad Duration Summary</summary>
            <p>Ads Start Date: {{ adDurationFormGroup.get('campaignStartDate')?.value | date }} </p>
            <p>Ads End Date: {{ adDurationFormGroup.get('noEndDate')?.value ? 'No end date' : this.adDurationFormGroup.get('campaignEndDate')?.value | date}}</p>
            <p>Duration: {{ adDurationFormGroup.get('noEndDate')?.value ? 'Continuous' : duration + ' days' }}</p>
          
          </details>
        </div>

        <div class="summary-ad-format">
          <details open>
            <summary>Ad Format Summary</summary>
            <p>Ad Primary Format: {{ adFormatFormGroup.get('adFormat')?.value }}</p>
            <p>Ad Target Device: {{ adFormatFormGroup.get('deviceType')?.value }}</p>
            
          </details>
        </div>
      </div>
        
    
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
        <div class="publish" >
            <button mat-flat-button (click)="onSubmit()" color="primary" [disabled]="
              targetAudienceFormGroup.invalid || 
              marketingObjectivesFormGroup.invalid || 
              budgetFormGroup.invalid || 
              adDurationFormGroup.invalid || 
              adFormatFormGroup.invalid">
              Publish
          </button>

          <div class="togglePayment">
            <mat-slide-toggle labelPosition="before" [(ngModel)]="isChecked">Charge My Account Balance</mat-slide-toggle>
          </div>

        </div>
       
      </div>
    </mat-step>

  </mat-stepper>